h1 {
    text-align: center;
    font-size: 70px;
}
.question {
    margin-top: 20px;
    margin-bottom: 20px;
}
.question h2 {
    margin: 10px;
    font-size: 50px;
}
.question ul {
    list-style-type: none;
    padding: 0;
}
.question li {
    margin: 5px;
    font-size: 50px;
    cursor: pointer;
    background-color: blue;
    color: white;
}
.question li.selected {
    background-color: #d3d3d3; /* Highlight color */
}
.question li.correct {
    background-color: #90ee90; /* Correct answer highlight color */
}
.navigation {
    margin-top: 20px;
}
.navigation button {
    margin: 0 5px;
}